<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mail</title>
  </head>
  <body>
    <h3>Test d'envoi de mail as un utilisateur Jordan National Technologie</h3>
    <strong> {{date}} </strong>
    <strong> Votre email {{email}} </strong>
    <p style="color: red">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
      perspiciatis eveniet odit corrupti reprehenderit illo, molestias quos
      tempore, nihil, cumque velit est laboriosam quasi aperiam accusamus
      dolorum vero sit? Similique!
    </p>
  </body>
</html>
